person.endpoint.url=https://service-gw-t6.test.local
egenansatt.endpoint.url=https://service-gw-t6.test.local
organisasjonenhet.endpoint.url=https://service-gw-t6.test.local
digitalkontaktinformasjon.endpoint.url=https://service-gw-t6.test.local
kodeverk.endpoint.url=https://service-gw-t6.test.local