no.nav.modig.core.context.subjectHandlerImplementationClass=no.nav.modig.core.context.StaticSubjectHandler

no.nav.modig.security.systemuser.password=BYTT_MEG
no.nav.modig.security.systemuser.username=BYTT_MEG

person.endpoint.url=https://wasapp-t4.adeo.no/tpsws/Person_v2
personv2.withmock=false

organisasjonenhet.endpoint.url=https://app-t4.adeo.no/norg2/ws/OrganisasjonEnhet/v1
organisasjonenhet.withmock=false

digitalkontaktinformasjon.endpoint.url=https://app-t4.adeo.no/digital-kontaktinformasjon/DigitalKontaktinformasjon/v1
kodeverk.endpoint.url=https://modapp-t4.adeo.no/kodeverk